name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    strategy:
      fail-fast: false # prevent test to stop if one fails
      matrix:
        node-version: [18.x, 20.x, 22.x, 24.x]
        os: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - uses: actions/cache@v4
        with:
          path: ~/.pkg-cache/
          key: ${{  matrix.os }}-${{ matrix.node-version }}

      - name: openssl
        run: openssl version

      - name: nodejs
        run: node --version

      - name: Install new version npm@10
        run: npm install -g npm

      - name: Install deps
        run: npm install

      - name: Build
        run: npm run build

      - name: Test
        run: npm run test:all

  coverage:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install
      - run: npm run build
      - run: npm install nyc @istanbuljs/nyc-config-typescript

      - name: Run tests with coverage
        run: npx nyc mocha

      - name: Generate lcov report
        run: npx nyc report --reporter=lcov

      - name: Upload to Coveralls
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
