name: publish

# Controls when the workflow will run
on:
  push:
    tags:
      - "v*"
  workflow_dispatch:
    inputs:
      dist-tag:
        description: "dist-tag"
        required: true
        default: "latest"
        type: choice
        options:
          - latest
          - next
          - rc
          - beta
          - alpha
          - 0.0.0-hack
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24.x
          registry-url: "https://registry.npmjs.org"

      - name: Install dependencies
        run: npm ci || npm install

      - name: Build
        run: npm run build

      - name: Publish to npm
        run: |
          DIST_TAG="${{ github.event.inputs.dist-tag || 'latest' }}"
          npm publish --tag $DIST_TAG
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Create GitHub Release
        if: startsWith(github.ref, 'refs/tags/v') && github.event_name != 'workflow_dispatch'
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
