name: publish

# Controls when the workflow will run
on:
  push:
    tags:
      - "v*"
  workflow_dispatch:
    inputs:
      dist-tag:
        description: "dist-tag"
        required: true
        default: "latest"
        type: choice
        options:
          - latest
          - next
          - rc
          - beta
          - alpha
          - 0.0.0-hack

permissions:
  id-token: write # Required for OIDC token generation
  contents: read # Required for actions/checkout

jobs:
  publish:
    if: github.ref == 'refs/heads/master' || github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: "https://registry.npmjs.org"

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build

      - name: Set up Git user
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor}}@users.noreply.github.com"

      - name: "Setup npm"
        run: |
          npm set "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}"

      - name: "detect unwanted changes"
        run: |
          git status
      - name: "stash unwanted changes"
        run: |
          git stash
      - name: Run lerna publish
        run: |
          npx lerna publish from-package \
            --yes \
            --dist-tag ${{ github.event.inputs.dist-tag }} \
            --concurrency 1
        env:
          NPM_CONFIG_PROVENANCE: true
